.SLIDE_BG{
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	animation: slideBg 40s infinite;
	transition: all 1s linear;
	background-image: url('/images/flood-relief/1.jpg');
} 

@keyframes slideBg {
	10%{ background-image: url('/images/flood-relief/1.jpg'); }
	20%{ background-image: url('/images/flood-relief/2.jpg'); }
	30%{ background-image: url('/images/flood-relief/3.jpg'); }
	40%{ background-image: url('/images/flood-relief/4.jpg'); }
	50%{ background-image: url('/images/flood-relief/5.jpg'); }
	60%{ background-image: url('/images/flood-relief/6.jpg'); }
	70%{ background-image: url('/images/flood-relief/7.jpg'); }
	80%{ background-image: url('/images/flood-relief/8.jpg'); }
	90%{ background-image: url('/images/flood-relief/9.jpg'); }
	100%{ background-image: url('/images/flood-relief/10.jpg'); }
}

.logo-text{ 
	position: relative;
	top: 5px;
}
@media (min-width: 600px) {
	.logo-text {
		font-size: 1.4em;
  }
}
