---
inside_bg: <h1 class="heading mb-4">Activities</h1>
---
{% include head.html %}
{% include header.html %}    
{% include bg.html %} 

    <section class="site-section bg-light">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="flood-relief.html"><img src="images/act1.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Flood Relief at Itakhuli</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> July 28, 2019 </div>
                </div>
                <p></p>
              </div>
            </div>
          </div>
            <!-- <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_2.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
               <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_3.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_1.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_2.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                <a href="blog-single.html"><img src="images/image_3.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_1.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_2.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="block-20">
              <figure>
                 <a href="blog-single.html"><img src="images/image_3.jpg" alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="text text-center">
                <h3 class="heading">Activity</h3>
                <div class="meta mb-3">
                  <div><span class="fa fa-calendar"></span> May 29, 2018</div>
                </div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus asperiores exercitationem cupiditate!</p>
              </div>
            </div>
          </div>
 -->
        </div>
      </div>
    </section>

    {% include footer.html %}