---
---
{% include head.html %}
  <body>
{% include header.html %}    
{% include bg.html %}    
                <h1 class="heading mb-4">We help so they can have a bright life</h1>
                <p><a href="about.html" class="btn btn-primary-white py-3 px-5">About Us</a> <a href="contact.html" class="text-white ml-4"> <span class="ion-ios-location mr-2"></span> Contact Us</a></p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

{% include lat.html %}    

    <section class="site-section">     
    </section>
    <!-- END section -->

    <section class="site-section pt-0">
    </section>

    <section class="site-section">

    </section>

{% include footer.html %}    
    <!-- loader -->