<section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="assets/img/media/1.jpg">
                  <img src="assets/img/media/1.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/media/2.jpg">
                  <img src="assets/img/media/2.jpg" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>