<section class="block-42 overlap">

      <div class="container">
        <div class="row">
          <div class="col-md-12 d-lg-flex">
              <div class="block-42-text">
                <div class="block-42-label">Latest Activity:</div>
                <div class="block-42-title mx-2"><a href="activities.html"><strong>Flood Relief at Itakhuli, Assam</strong></a></div>|
                <div class="block-42-meta">Posted on July 28, 2019, <strong>Admin</strong> </div>
              </div>
          </div>
        </div>
      </div>
    </section>